## Redundant entries removed and case folding

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("datasets\\1.data_original.csv",encoding="latin1")
print 'Number of rows in the dataset : '
len(df)

Number of rows in the dataset :

71055

In [4]:
# now remove redundant entries and clean our data
df.drop_duplicates(subset='Reviews',inplace=True)
df.dropna(inplace=True)
df.drop('Unnamed: 0',axis=1,inplace=True)
#df.reindex(range(0,len(df)),inplace=True)
df.reset_index(inplace=True)
df.drop('index',axis=1,inplace=True)

In [5]:
print 'Number of rows in dataset after removing redundant entries :'
len(df)

Number of rows in dataset after removing redundant entries :

44277

### convert the review to lower case (case folding)

In [6]:
df['Reviews']=df['Reviews'].str.lower()

In [7]:
df.head(10)

,Rating,Reviews,hotel,label
0,3.5,just been to pandara market and its impossible...,gulati-pandara-road-new-delhi,Good
1,4.5,i went to try their special navratra khas thal...,gulati-pandara-road-new-delhi,Excellent
2,4,gulati at pandara road is a great place to hav...,gulati-pandara-road-new-delhi,Very Good
3,4.5,gulati is a famous restaurant thar serves nort...,gulati-pandara-road-new-delhi,Excellent
4,4.5,last week turned out to be a bit of a food org...,gulati-pandara-road-new-delhi,Excellent
5,4.5,just have the tastiest butter chicken.... ever...,gulati-pandara-road-new-delhi,Excellent
6,4.5,the day before i visited gulatis nearly after ...,gulati-pandara-road-new-delhi,Excellent
7,4.5,i took some out of town friends for lunch here...,gulati-pandara-road-new-delhi,Excellent
8,4.5,two separate restaurants (and kitchens) - one ...,gulati-pandara-road-new-delhi,Excellent
9,4,one of the most popular outlet in the pandara ...,gulati-pandara-road-new-delhi,Very Good

In [8]:
# write the data back to a new csv file
df.to_csv("datasets\\3.data_case_folded.csv",mode='w',headers=False,encoding="latin1")

In [9]:
len(df)

44277