In [106]:
import pandas as pd

# read the csv file using pandas
df=pd.read_csv("datasets\\3.data_case_folded.csv",encoding="latin1")

In [107]:
df.head()

,Unnamed: 0,Rating,Reviews,hotel,label
0,0,3.5,just been to pandara market and its impossible...,gulati-pandara-road-new-delhi,Good
1,1,4.5,i went to try their special navratra khas thal...,gulati-pandara-road-new-delhi,Excellent
2,2,4.0,gulati at pandara road is a great place to hav...,gulati-pandara-road-new-delhi,Very Good
3,3,4.5,gulati is a famous restaurant thar serves nort...,gulati-pandara-road-new-delhi,Excellent
4,4,4.5,last week turned out to be a bit of a food org...,gulati-pandara-road-new-delhi,Excellent

In [108]:
len(df)

44277

In [109]:
# include the stopwords file and create a list of it
import re
def words(text): return re.findall(r'\w+', text.lower())
remove_wordset=words(open('stopwords.txt').read())

In [110]:
remove_wordset[:10]

['a',
 'a',
 's',
 'able',
 'about',
 'above',
 'according',
 'accordingly',
 'across',
 'actually']

In [111]:
# define the method to remove the stopwords
def isContain(x):
    if x in remove_wordset:
        return ""
    else:
        return x

In [112]:
# sample run of the method
isContain('they')

''

In [113]:
df['Reviews'][10]

u'wondrous and dreamy it was, located in the heart of delhi,with exquisite interiors,my eyes could relish the warmth of dim lightening and awesome music in the dining area .and yeah then came the first drink i ordered !! it was all for the purpose of feast as if royality dripping from the vase of fog with aam panna in it,which tasted super tangy and it served well to cool your senses.'

In [114]:
from IPython.display import clear_output
for i in range(0,len(df)):
    df['Reviews'][i]=" ".join(isContain(x) for x in df['Reviews'][i].split())
    df['Reviews'][i]=" ".join(df['Reviews'][i].split())
    print i
    clear_output(wait=True)

44276

In [116]:
df['Reviews'][10]

u'wondrous dreamy was, located heart delhi,with exquisite interiors,my eyes relish warmth dim lightening awesome music dining area .and yeah drink ordered !! purpose feast royality dripping vase fog aam panna it,which tasted super tangy served cool senses.'

In [118]:
# write the data back to a new csv file
df.to_csv("datasets\\4.data_stopword_removed.csv",mode='w',headers=False,encoding="latin1")